
# Airflow
AIRFLOW_UID=50000
AIRFLOW_GID=0

# GCP Configuration
GCP_PROJECT_ID=your-project-id
GCP_BUCKET=your-bucket
GCP_LOCATION=US
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/credentials/your_json_file.json

# BigQuery Datasets
BQ_RAW_DATASET=raw_data
BQ_STAGING_DATASET=staging
BQ_ANALYTICS_DATASET=analytics

# DBT Configuration
DBT_PROFILES_DIR=/opt/airflow/dbt_project
DBT_TARGET=dev

# Google Cloud Connection for Airflow (URI Format)
AIRFLOW_CONN_GOOGLE_CLOUD_DEFAULT=
